<!DOCTYPE html>
<html>
<head>
    <title>Image Labeling</title>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- jQuery UI -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script>
    $(function() {
    $("#custom_label").autocomplete({
        source: function(request, response) {
        $.ajax({
            url: "/suggestions",
            data: {
            term: request.term
            },
            success: function(data) {
            // Highlight suggestions on hover
            $.each(data, function(i, suggestion) {
                var item = $("<div>")
                .text(suggestion)
                .on("mouseenter", function() {
                    $(this).css("background-color", "#eee");
                })
                .on("mouseleave", function() {
                    $(this).css("background-color", "");
                });
                $("#custom_label").autocomplete("widget").append(item); 
            });
            response(data); 
            }
        });
        }
    });   
    });
    </script>    
</head>
<body>
    <p>Images remaining to label: {{ remaining_rows }}</p>
    <a href="/download" class="button">Download Currently Labeled Items as CSV!</a>
    <h1>Label this image!</h1>
    <p>Usage: Select one or more options that apply or input your label.</p>
    <p>If you want to add more than one label, enter like this: cat, animal</p>
    

    <img src="{{ url }}" alt="Image to label">
    <form method="POST">
        {% for label in labels %}
        <input type="checkbox" id="{{ label }}" name="label" value="{{ label }}">
        <label for="{{ label }}">{{ label }}</label><br>
        {% endfor %}
        <input type="text" id="custom_label" name="custom_label" placeholder="Enter custom label" style="margin-bottom: 50px;"><br>
        <input type="hidden" id="item_id" name="item_id" value="{{ item_id }}">
        <input type="submit" value="Submit"style="margin-top: 50px;">
    </form>
</body>
</html>